/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    position: relative; /* Añadido para que el position absolute funcione correctamente */
    background-color: rgba(247, 248, 211); /* Color de fondo */

}

/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9D2449;
    padding: 10px;
    position: relative;
    z-index: 1;
}

/* Estilos para el logo */
.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
}

/* Estilos para el contenedor del logo y el título */
.logo-container {
    display: flex;
    align-items: center;
}

/* Estilos para el título */
h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #EFE6CD;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}


/* Estilos para el logo de cerrar sesión */
.logo-cerrar-sesion {
    width: 50px;
    height: auto;
    padding-right: 10px;
    margin-left: auto; /* Mueve el botón de cerrar sesión al extremo derecho */
}

/* Estilos logo secretaria */
.logo-secretaria {
    width: 150px;
    height: auto;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0; /* Alinea el footer a la derecha */
    padding: 50px; /* Ajusta el espacio alrededor del logo */
}

/* Estilos para el botón de regresar */
.button {
    font-family: 'Arial', sans-serif;
    font-size: medium; /* Tamaño de fuente más pequeño */
    padding: 10px 20px; /* Padding más pequeño */
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 0 auto; 
    width: fit-content; 
}

.button {
    background-color: #b0afaf; 
}

a{
    text-decoration: none; 

}
.imagen-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 30px;
    margin-bottom: 30px;
}

.imagen-container img {
width: 200px;
height: auto;
}
h2 {
    margin-top: 100px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}