/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 abr 2024, 19:20:10
    Author     : magda
*/
/* Estilos para el cuerpo de la página */
:root{
    --fondo: #e9efd8;
    --tinto: #9D2449;
    --tintoFuerte: #681616;
}

body{
    margin: 0;
    padding: 0;
}

.body-styles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-styles::before {
    content: "";
    background-color: var(--fondo); /* Color de fondo */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}

.body-styles::after {
    content: "";
    background-image: url('../IMG/clinica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Ajustar la posición de la imagen de fondo */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2; /* Asegura que la imagen de fondo esté detrás de todo */
}

/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    background-color: var(--tinto);
    padding: 20px 0;
    width: 100%; /* Ancho del encabezado al 100% del contenedor padre */
    position: relative;
    z-index: 1;
    justify-content: space-between;
}

.logo-container,
.title-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
}

.title-container {
    flex-grow: 1; /* El título ocupará todo el espacio disponible */
    text-align: left; /* Alinea el texto del título a la izquierda */
    margin-left: 10px; /* Opcional: añade un margen izquierdo para separar el título del logotipo */
}

/* Estilos para el logo */
.logoSS {
    height: 80px;
    margin-left: 20px;
    margin-right: 10px;
}

/* Estilos para el título */
h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #EFE6CD;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}


/* Estilos logo secretaria */
.logo-secretaria {
    width: 150px;
    height: auto;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0; /* Alinea el footer a la derecha */
    padding: 50px; /* Ajusta el espacio alrededor del logo */
}

/* Estilos para el registro */
.register-form {
    font-family: 'Arial', sans-serif;
    color: #EFE6CD;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--tinto);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.register-form h2::after {
    content: ''; /* Agrega contenido pseudo-elemento */
    display: block; /* Hace que el pseudo-elemento sea un bloque */
    width: 85%; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: rgba(239, 230, 205, 0.5); /* Color de la línea */
    position: absolute; /* Coloca la línea de forma absoluta */
    bottom: -5px; /* Posiciona la línea justo debajo del texto */
    left: 50%; /* Alinea la línea al centro horizontal del h2 */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
}

.register-form label,
.login-form label{
    display: block;
    margin-bottom: 10px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="date"],
.register-form input[type="email"],
.register-form input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

.register-form button,
.login-form button{
    font-family: 'Arial', sans-serif;
    font-size: medium;
    width: 100%;
    padding: 10px;
    background-color: #aeaeae;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover,
.login-form button:hover{
    background-color: #b0afaf;
    font-weight: bolder;
    color: #000;
}

/* Estilos para el inicio de sesion */
.login-form {
    font-family: 'Arial', sans-serif;
    color: #EFE6CD;
    width: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--tinto);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.login-form h2::after {
    content: ''; /* Agrega contenido pseudo-elemento */
    display: block; /* Hace que el pseudo-elemento sea un bloque */
    width: 100%; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: rgba(239, 230, 205, 0.5); /* Color de la línea */
    position: absolute; /* Coloca la línea de forma absoluta */
    bottom: -5px; /* Posiciona la línea justo debajo del texto */
    left: 50%; /* Alinea la línea al centro horizontal del h2 */
    transform: translateX(-50%); /* Centra la línea horizontalmente */
}

.login-form a:hover{
    font-weight: bolder;
}

/* Estilos para el contenedor */
.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrar el contenedor en la página */
    padding: 0 15px; /* Agregar un poco de relleno a los lados del contenedor */
}

/* Estilos para la fila */
.row {
    display: flex; /* Utilizar flexbox para alinear las columnas horizontalmente */
    flex-wrap: wrap; /* Permitir que las columnas se envuelvan si no caben en una sola fila */
    margin: 0 -15px; /* Compensar el relleno del contenedor */
}

/* Estilos para las columnas */
.col {
    flex: 1; /* Hacer que las columnas ocupen un espacio igual dentro de la fila */
    padding: 0 15px; /* Agregar un poco de relleno a los lados de cada columna */
}

.dropbtn {
    display: flex;
    align-items: center;
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-right:60px ;
    color: white;
}

.dropbtn :hover{
    font-weight: bolder;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    font-weight: bolder;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    font-weight: bold;
}

#icon {
    font-size: 32px;
    display: inline-block;
    margin-right: 8px;
    color: white;
}

/* Estilos para el contenedor del botón */
.button-container {
    display: flex;
    justify-content: center; /* Alinea el contenido al centro horizontalmente */
    margin-top: 10px; /* Espacio superior */
}

/* Estilos para el botón de huella */
.fingerprint-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 150px;
    transition: transform 0.3s ease;
}

/* Estilos para la imagen de la huella */
.huella{
    width: 150px; /* Ajusta el ancho de la imagen al 100% del botón */
    height: auto; /* Mantén la proporción original de la imagen */
    justify-content: center;
    transition: opacity 0.3s ease;
    opacity: 1;
}

/* Estilos para la imagen de la huella verificada */
.huella-verificada {
    position: absolute; /* Coloca la imagen encima de la huella normal */
    left: 50%; /* Sitúa el lado izquierdo de la imagen en el centro horizontal */
    transform: translateX(-50%); /* Desplaza la imagen hacia la izquierda en la mitad de su propio ancho */
    opacity: 0; /* Oculta la imagen de la huella verificada inicialmente */
    transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
    width: 150px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción original de la imagen */
}

/* Cambiar la imagen cuando el botón está en hover */
.fingerprint-button:hover .huella {
    opacity: 0; /* Oculta la huella normal cuando se hace hover */
}

.fingerprint-button:hover .huella-verificada {
    opacity: 1; /* Muestra la imagen de la huella verificada cuando se hace hover */
}

.tabla-container {
    margin: 20px auto;
    width: 80%; /* Ajusta el ancho de la tabla según sea necesario */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    text-align: left;
    color: black;
    font-family: 'Arial', sans-serif;
}

thead {
    background-color: #9d2448b1;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #b0afaf;
}

a{
    text-decoration: none;
}

h2{
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: -10px;
}

.body-styles h3{
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

.password-container {
    position: relative;
}

#password {
    padding-right: 1px; /* Ajusta el padding derecho para dejar espacio para la imagen del candado */
}

#candado {
    position: absolute;
    top: 35%;
    right: 10px; /* Ajusta la posición de la imagen del candado */
    transform: translateY(-50%); /* Centra verticalmente la imagen del candado */
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#candadoLogin {
    position: absolute;
    right: 10px; /* Ajusta la posición de la imagen del candado */
    /*transform: translateY(-50%);  Centra verticalmente la imagen del candado */
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 10px;
}

.botones {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal */
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centra el contenedor en la página */
}

#regresar-btn, #agregar-btn {
    width: 100px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--tinto);
    color: white;
    border: black;
    border-radius: 5px;
    margin-top: 20px;
}

#ver-btn {
    width: 100%; /* Ancho del botón al 100% del contenedor (celda de la tabla) */
    height: 100%; /* Altura del botón al 100% del contenedor (celda de la tabla) */
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px; /* Ajusta el relleno del botón según sea necesario */
    box-sizing: border-box; /* Asegura que el relleno no afecte el tamaño total del botón */
    text-decoration: underline;
}

#regresar-btn:hover,
#agregar-btn:hover,
.expediente-btn:hover,
.verCita-btn:hover,
.registrarCita-btn:hover{
    background-color: #5e162c;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin-top: 50px;
    gap:90px;
}

.grid-medico {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 100px;
    margin-top: 50px;
}

.item1-medico,
.item2-medico{
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.gridArchivos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    height: 100%;
    margin-top: 50px;
}

.item1,
.item2,
.item3{
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

#expediente-icon,
#registrarCita-icon,
#verCitas-icon{
    height: 30vh; /* Altura del 20% del viewport height */
    padding: 2.2vw; /* Relleno del 5% del viewport width */
}

.item1 h3,
.item2 h3,
.item3 h3,
.item1-medico h3,
.item2-medico h3{
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.2em;
}

.expediente-btn,
.verCita-btn,
.registrarCita-btn{
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--tinto);
    color: white;
    border: 2px solid #5e162c; /* Agrega un borde a los botones */
    border-radius: 5px;
    transition: background-color 0.3s; /* Agrega una transición suave al cambiar el color de fondo */
}

/* Estilos para los elementos del menú */
.menu-btn-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.celda-btn{
    background-color: #b1506d;
}

.celda-btn:hover{
    background-color: #a73a5b;
    cursor: pointer;
}

#archivo {
    font-family: 'Arial', sans-serif;
    font-size: medium;
    width: 50%; /* Cambia el ancho según sea necesario */
    margin-top: 50px;
    justify-content: center;
}

#eliminar-btn {
    width: 120px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--tinto);
    color: white;
    border: black;
    border-radius: 5px;
    margin-top: 20px;
}

#agregarArchivo-btn {
    width: 120px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--tinto);
    color: white;
    border: black;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto; /* Alinea el botón de agregar a la derecha */
}

#previsualizacion {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: black;
}

.botonesExp {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal */
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centra el contenedor en la página */   
}

.eliminar-btn{
    background-color: var(--tinto);
    color: white;
    border: none;
    padding: 10px; /* Ajusta el padding para dar espacio alrededor de la imagen */
    cursor: pointer;
    width: 100%; /* Establece el ancho del botón según su contenido */
    display: flex; /* Hace que los elementos dentro del botón se alineen en una fila */
    justify-content: center; /* Centra horizontalmente los elementos dentro del botón */
    align-items: center; /* Centra verticalmente los elementos dentro del botón */
}

#eliminar-icon{
    width: 20px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 20px; /* Mantiene la proporción original de la imagen */
}

.eliminar-btn:hover{
    background-color: var(--tintoFuerte);
    /* Cambio de color al pasar el mouse */
}
